p {
  font-size: 1rem;
}

.scrollable {
  height: 20rem;
  overflow-y: scroll;
}

.details-hover {
  transition: all 0.3s ease;

  &:last-child:hover {
    border: 1px solid #333;
    background-color: gold;
    transition: all 0.4s ease;
    color: #000000;
  }
}

