body {
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.scrollable {
  height: 20rem;
  overflow-y: scroll;
}

.details-unresolved {
  transition: all 0.3s ease;
  background-color: #FF12FF;
  color: #F7EEFF;

  &:last-child:hover {
    color: white;
    background-color: #0099FE;
    transition: all 0.3s ease;
  }
}

.details-resolved {
  background-color: #04D651;
  color: white;
}

.details-user {
  background-color: #333;
  color: white;
}
