p {
  font-size: 1rem;
}

.scrollable {
  height: 20rem;
  overflow-y: scroll;
}

.details-hover {
  &:last-child:hover {
    border: 1px solid #551A8B;
    background-color: #7F00FF;
    transition: all 0.3s ease;
  }
}

